<div class="container">
    <div class="page-header">
        <h1>Successors game</h1>
    </div>

    <div class="alert alert-info" role="alert">        
        <p>
            In this game, you have to find the first, the last, and the number of direct successors of a random version.
        </p>
    </div>

    <div class="text-center">
        <button type="button" class="btn btn-primary btn-lg" ng-click="ctrl.start();" ng-show="!ctrl.gameStarted">Start the game</button>
    </div>

    <div id="game" ng-show="ctrl.gameStarted">
        <div class="panel" ng-class="ctrl.panelClass">
            <div class="panel-heading">
                <div class="pull-left">Question {{ctrl.totalQuestions}}</div>
                <div class="pull-right">Won: {{ctrl.wonQuestions}}/{{ctrl.totalQuestions}}</div>
                <div style="clear: both;"></div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div ng-class="ctrl.submitted ? 'col-md-6' : 'col-md-12'">
                        <h1 class="text-center"><span class="label label-primary">{{ ctrl.selectedVersion.toString() }}</span></h1>

                        <br />

                        <form ng-submit="ctrl.submit()">
                            <div class="input-group m-t-20" ng-class="ctrl.getGroupClass(ctrl.howManyInput)">
                                <span class="input-group-addon">Number of direct successors</span>
                                <input type="text" class="form-control" ng-disabled="ctrl.howManyInput.cheated || ctrl.submitted" ng-model="ctrl.howManyInput.inputValue" placeholder="e.g. 22">
                                <span class="input-group-btn">
                                    <button class="btn" ng-class="ctrl.howManyInput.cheated ? 'btn-danger' : 'btn-default'" type="button" ng-disabled="ctrl.howManyInput.cheated || ctrl.submitted" ng-click="ctrl.howManyInput.cheat()"><span class="glyphicon glyphicon-eye-open"></span> Cheat</button>
                                </span>
                            </div>

                            <br />

                            <div class="input-group" ng-class="ctrl.getGroupClass(ctrl.firstInput)">
                                <span class="input-group-addon">First direct successor</span>
                                <input type="text" class="form-control" ng-disabled="ctrl.firstInput.cheated || ctrl.submitted" ng-model="ctrl.firstInput.inputValue" placeholder="e.g. v1.0.0-rc">
                                <span class="input-group-btn">
                                    <button class="btn" ng-class="ctrl.firstInput.cheated ? 'btn-danger' : 'btn-default'" type="button" ng-disabled="ctrl.firstInput.cheated || ctrl.submitted" ng-click="ctrl.firstInput.cheat()"><span class="glyphicon glyphicon-eye-open"></span> Cheat</button>
                                </span>
                            </div>

                            <br />

                            <div class="input-group" ng-class="ctrl.getGroupClass(ctrl.lastInput)" >
                                <span class="input-group-addon">Last direct successor</span>
                                <input type="text" class="form-control" ng-disabled="ctrl.lastInput.cheated || ctrl.submitted" ng-model="ctrl.lastInput.inputValue" placeholder="e.g. v1.2.3">
                                <span class="input-group-btn">
                                    <button class="btn" ng-class="ctrl.lastInput.cheated ? 'btn-danger' : 'btn-default'" type="button" ng-disabled="ctrl.lastInput.cheated || ctrl.submitted" ng-click="ctrl.lastInput.cheat()"><span class="glyphicon glyphicon-eye-open"></span> Cheat</button>
                                </span>
                            </div>

                            <br />

                            <button ng-hide="ctrl.submitted" type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
                        </form>

                        <button ng-show="ctrl.submitted" type="button" class="btn btn-primary btn-lg btn-block" ng-click="ctrl.start()">Next question <span class="glyphicon glyphicon-chevron-right"></span></button>
                    </div>

                    <div class="col-md-6" ng-show="ctrl.submitted">
                        <div class="panel panel-default">
                            <div class="panel-heading">{{ ctrl.possibleVersions.length }} direct successors</div>
                            <ul class="list-group">
                                <li ng-class="{'list-group-item-success' : v.toString() == ctrl.firstInput.expectedValue || v.toString() == ctrl.lastInput.expectedValue }" ng-repeat="v in ctrl.possibleVersions" class="list-group-item">{{ v.toString() }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>