<div class="container">
    <div class="page-header">
        <h1>Version your mind</h1>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Successors game</h3>
                </div>
                <div class="panel-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sed faucibus turpis. Maecenas luctus nibh tellus, et tincidunt tellus auctor id. Aliquam elementum placerat convallis. Vivamus sagittis et justo vitae dictum.</p>

                    <br />

                    <div class="text-center">
                        <a href="versionYourMind/successorsGame" class="btn btn-primary btn-lg btn-block">Play</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Predecessors game</h3>
                </div>
                <div class="panel-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sed faucibus turpis. Maecenas luctus nibh tellus, et tincidunt tellus auctor id. Aliquam elementum placerat convallis. Vivamus sagittis et justo vitae dictum.</p>

                    <br />

                    <div class="text-center">
                        <a href="versionYourMind/predecessorsGame" class="btn btn-primary btn-lg btn-block">Play</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>