<div class="container">
    <div class="page-header">
        <h1>Version your mind</h1>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Successors game</h3>
                </div>
                <div class="panel-body">
                    <p style="height: 50px;">In this game, you have to find the direct successors of a random version.</p>

                    <br />

                    <div class="text-center">
                        <a href="versionYourMind/successorsGame" class="btn btn-primary btn-lg btn-block">Play</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Predecessors game</h3>
                </div>
                <div class="panel-body">
                    <p style="height: 50px;">In this game, you have two random versions A and B. You have to choose if A is a direct predecessor of B, B is a direct predecessor of A, or neither.</p>

                    <br />

                    <div class="text-center">
                        <a href="versionYourMind/predecessorsGame" class="btn btn-primary btn-lg btn-block">Play</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>